


/* Home Page CSs */

.home {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .home h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }
  



/*  Login CSS  */

.formContainer {

    background: linear-gradient(-45deg, #eb6e48, #dd296e, #1ca5d7, #18d9ac);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    background-color: #a7bcff;
    height:  100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}


.formWrapper{
  
    background-color:white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;


   
  }

.logo{
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
  
}
.title{
    color: #5d5b8d;
    font-size: 20px;
}

